<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible' content='IE=edge">
	<title>Json Server</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid text-center">
		<div class="jumbotron">
			<h1 class="display-4">JSON Server</h1>
			<p class="lead">On the go Json server from a 'db.json' file on any github repo</p>
			<hr class="my-4">
			<p>Try typing your GitHub Username in the URL</p>
			<p> Eg:
			<div class="container m-10">
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item"> <a href="/itissandeep98"> itissandeep98</a> </li>
					<li class="list-group-item"> <a href="/itissandeep98/starred"> itissandeep98/starred</a> </li>
					<li class="list-group-item"> <a href="/itissandeep98/followers"> itissandeep98/followers</a> </li>
					<li class="list-group-item"> <a href="/itissandeep98/following"> itissandeep98/following</a> </li>
					<li class="list-group-item"><a href="/itissandeep98/ReactTest"> itissandeep98/ReactTest</a></li>
					<li class="list-group-item"><a href="/itissandeep98/ReactTest/comments">
							itissandeep98/ReactTest/comments</a></li>
				</ul>
			</div>

			</p>
			<a class="btn btn-primary btn-lg" href="https://github.com/itissandeep98/JSON-Server" role="button">Learn
				more</a>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>